@tailwind base;
@tailwind components;

@font-face {
  font-family: "Uthmanic";
  src: local("Uthmanic"), url(../public/font/uthmanic.woff2) format("woff2");
}

@tailwind utilities;

@layer components {
  .hover-bg {
    @apply rounded-full p-3 hover:bg-gray-400 hover:text-white;
  }

  .resizeCircle {
    @apply w-2 h-2 bg-gray-300 hover:bg-gray-100 hover:scale-150 transition-all duration-200  rounded-full absolute ;
  }

  .circle {
    @apply h-8 w-8 rounded-full border-2 border-white cursor-pointer;
  }

  .floating-btn-center {
    @apply flex flex-col items-center;
  }

  .floatHover {
    @apply w-20 rounded-md py-1 hover:bg-gray-300;
  }

  .floatBtnDownload {
    @apply bg-blue-400 text-white hover:bg-blue-500;
  }

  .floatMarginTrack {
    @apply mt-2 tracking-wide text-[11px];
  }
}

body {
  background-color: hsl(220, 24%, 86%);
  font-family: "Uthmanic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gradient-bg {
  background-image: linear-gradient(
    310deg,
    rgb(214, 233, 255),
    rgb(214, 229, 255),
    rgb(209, 214, 255),
    rgb(221, 209, 255),
    rgb(243, 209, 255),
    rgb(255, 204, 245),
    rgb(255, 204, 223),
    rgb(255, 200, 199),
    rgb(255, 216, 199),
    rgb(255, 221, 199)
  );
}

.content-shadow {
  box-shadow: #ffffff26 0 0 0 1px, #32325d45 0 80px 120px -20px,
    #0000004d 0 30px 60px -10px;
}

.floating-bar {
  background-image: linear-gradient(-20deg, #f7eef5, #ebf1fa 80%);
}

.float-shadow {
  box-shadow: rgba(50, 50, 93, 0.2) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.25) 0px 25px 50px -20px;
}
